.task {
  background: #F2F7FD;
  border: 2px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #747474;
  cursor: pointer;
  transition: 0.1s ease;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &:hover {
    transition: 0.1s ease;
    border: 2px solid #7063C3;
    color: #7063C3;
  }

  &__text {
    overflow: hidden;
    overflow-wrap: break-word;
  }

  &__dm {
    transition: background 0.1s ease,
    color 0.2s ease,
    border 0.2s ease;

    border: 2px solid #C36363;
    color: #C36363;

    &:hover {
      background: #C36363;
      color: #F2F7FD !important;
      border: 2px solid #C36363;

      transition: background 0.1s ease;
    }
  }
}

