// DEFAULT MODE

.todo {
  height: 60px;
  display: grid;
  align-items: center;

  text-align: center;
  background: #F2F7FD;
  border: 2px solid #CBCBCB;
  box-sizing: border-box;
  border-radius: 5px;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #747474;

  cursor: pointer;
  transition: background 0.1s ease,
              color 0.2s ease,
              border 0.2s ease;

  &:hover {
    background: #7063C3;
    color: #F2F7FD;
    border: 2px solid #7063C3;

    transition: background 0.1s ease;
  }

  &__dm {
    transition: background 0.1s ease,
    color 0.2s ease,
    border 0.2s ease;

    border: 2px solid #C36363;
    color: #C36363;

    &:hover {
      background: #C36363;
      color: #F2F7FD !important;
      border: 2px solid #C36363;

      transition: background 0.1s ease;
    }
  }
}
