.tasks {
  margin-top: 28px;

  &__new {
    max-width: 200px;
    align-items: center;
    text-align: center;
    background: #F2F7FD;
    border: 2px solid #7063C3;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    color: #7063C3;
    cursor: pointer;
  }

  &__new:hover {
    background: #7063C3;
    color: #F2F7FD;
    transition: background 0.1s ease;
  }
}

@media (max-width: 480px) {
  .tasks {
    margin-top: 28px;

    &__new {
      max-width: 100%;
    }

    &__new:hover {
      background: #7063C3;
      color: #F2F7FD;
      transition: background 0.1s ease;
    }
  }
}