.purple__button {
  min-width: 150px;
  background: #7063C3;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 13px;

  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  transition: 0.1s ease;

  &:hover {
    transition: 0.1s ease;
    opacity: 0.7;
  }
}


@media (max-width: 480px) {
  .purple__button {
    width: 100%;
    margin-top: 10px;
  }
}