.header {
  display: flex;
  justify-content: space-between;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #CBCBCB;
    margin-bottom: 28px;

    &__back {
      cursor: pointer;
      transition: 0.1s ease;

      &:hover {
        transition: 0.1s ease;
        opacity: 0.7;
      }
    }

  }
}



.todo__title {

  &__input {
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background: #E1E7EE;
    padding: 3px 7px;
    outline: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #7063C3;
    float: left;

    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #AAA6D9;
    }

    &__disabled {
      word-break: break-word;
      width: max-content;
      max-width: 100%;
      border: none;
      border-radius: 5px;
      padding: 3px 7px;
      outline: none;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #7063C3;
      background: #E1E7EE;
      cursor: pointer;
    }
  }



  &__edit {
    height: 30px;
    width: 30px;
    margin-left: 11px;
    background: #E1E7EE;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #7063C3;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    transition: 0.1s ease;
  }
  &__edit:hover {
    opacity: 0.7;
  }
  &__edit:disabled {
    cursor: default;
    background: #E1E7EE;
    color: #CBCBCB;
  }

  &__accept {
    height: 30px;
    width: 30px;
    margin-left: 11px;
    background: #E1E7EE;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #7063C3;
    cursor: pointer;
    font-size: 25px;
    transition: 0.1s ease;
  }

  &__accept:hover {
    background: #7063C3;
    color: #F2F7FD;
    transition: 0.1s ease;
  }

  &__accept:disabled {
    cursor: default;
    background: #E1E7EE;
    color: #CBCBCB;
  }
}


@media (max-width: 480px) {
  .header {
    display: block;

    &__title {
      margin-bottom: 20px;
    }
  }

  .todo__title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    &__input__disabled {
      display: block;
      width: auto;
    }
  }
}
