.showcase {
  max-width: 800px;
  width: 65%;
  background: url("../../assets/images/showcase.png") no-repeat;
  background-size: cover;
  padding: 54px;
  border-radius: 10px;

  &__title {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    margin: 0;
  }

  &__description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    max-width: 460px;

    color: #FFFFFF;
  }

  &__buttons__pair {
    max-width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}


@media (max-width: 480px) {
  .showcase {
    width: 70%;
    background: url("../../assets/images/showcase.png") no-repeat;
    background-size: cover;
    padding: 10%;
    border-radius: 10px;
    margin: auto auto 30px;

    &__title {
      font-size: 30px;
    }

    &__buttons__pair {
      display: block;
      margin-top: 10px;
    }
  }
}